.section {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  max-height: 31vh;
  padding-right: 17px;
}

.list::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.orderinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: row;
}

.moneyicon {
  height: 36px;
  width: 36px;
}

.listsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
